body {
  background-image: url("/static/images/Background-Bakery-Wallpaper.jpg");
  background-size:contain;
  width: 100%;
 
}

.custom-grey {
  background-color: #937566;
  
}

.logo {
  width: 75%;
}

.logo-block {
  margin-bottom: 0px;
}

.carousel { 
  min-height: 400px;
  }

.carousel-item { 
  padding: 5px;
  min-height: 500px;
  min-width: 250px;
  }


.btn-large:hover{
  background-color: #322920;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
