body {
  background-image: url("/static/images/Background-Bakery-Wallpaper.jpg");
  background-size:contain;
  width: 100%;
 
}

/* custom colours */

.custom-grey {
  background-color: #937566;
}

.trans-grey{
  background-color: #58575273;
}

.trans-brown{
  background-color: #937566bb;
}

/* homepage logo */

.logo {
  width: 75%;
}

.logo-block {
  margin-bottom: 0px;
}

/* homepage carosel of recipes */

.carousel { 
  min-height: 400px;
  }

.carousel-item { 
  padding: 5px;
  min-height: 500px;
  min-width: 250px;
  }

/* buttons */

.delete-btn,
.edit-btn{
  
  width: 100%;
}

.btn-large:hover{
  background-color: #322920;
}


/* recipe card formatting */

.main-recipe-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-content {
  overflow: scroll;
  text-overflow: ellipsis;
}


.recipe-card-info{
  height: 200px;
  
}


/* company info panel on homepage */

.dotted-card-panel {
  border-color: #937566;
  border-style: dashed;
  background-color: #fbfbfbc7;
  border-left: none;
  border-right: none;
}




