<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, "/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Toms Bakery</title>
</head>
<body>
       <!-- Navbar ---->
    <ul id="dropdown1" class="dropdown-content custom-grey white-text">
        <li><a class="white-text" href="{{ url_for('get_recipes', category='bread')}}">Bread</a></li>
        <li><a class="white-text" href="{{ url_for('get_recipes', category='cake')}}">Cake</a></li>
        <li><a class="white-text" href="{{ url_for('get_recipes', category='biscuit')}}">Biscuit</a></li>
    </ul>
    <nav class="custom-grey" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
              <img class="responsive-img" src="" alt="">

          </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Recipe<i class="material-icons right">arrow_drop_down</i></a></li>
          {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
          {% endif %}
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li><a href="{{ url_for('get_recipes', category='bread')}}">Bread</a></li>
          <li><a href="{{ url_for('get_recipes', category='cake')}}">Cake</a></li>
          <li><a href="{{ url_for('get_recipes', category='biscuit')}}">Biscuit</a></li>
          {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
          {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="grey center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  
    <footer class="page-footer custom-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are passonate about baking here! This website was created so users can share and view recipes. Please have a look though all the recipes, and maybe share your own? </p>
  
  
          </div>
          <div class="col l3 s12 right">
            <h5 class="white-text">Contact</h5>
            <br>
            <div class="row">
              <i class="material-icons">phone</i>
              <span>0800-12345</span>
            </div>
            <div class="row">
              <i class="material-icons">email</i>
              <span>bakery@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3">Thomas Riggs</a>
        </div>
      </div>
    </footer>

  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
