<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, "/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Toms Bakery</title>
</head>
<body>
       <!-- Navbar ---->
    <ul id="dropdown1" class="dropdown-content custom-grey white-text">
        <li><a class="white-text" href="{{ url_for('get_recipes')}}">Bread</a></li>
        <li><a class="white-text" href="{{ url_for('get_recipes')}}">Cake</a></li>
        <li><a class="white-text" href="{{ url_for('get_recipes')}}">Biscuit</a></li>
    </ul>
    <nav class="custom-grey" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
              <img class="responsive-img" src="" alt="">

          </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Recipe<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="{{ url_for('login')}}">Login</a></li>
          <li><a href="{{ url_for('register')}}">Register</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li><a href="{{ url_for('get_recipes')}}">Bread</a></li>
          <li><a href="{{ url_for('get_recipes')}}">Cake</a></li>
          <li><a href="{{ url_for('get_recipes')}}">Biscuit</a></li>
          <li><a href="{{ url_for('login')}}">Login</a></li>
          <li><a href="{{ url_for('register')}}">Register</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <!------>
    {% block content %}
    {% endblock %}
  
    <footer class="page-footer custom-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
  
  
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3">Thomas Riggs</a>
        </div>
      </div>
    </footer>

  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
