<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, "/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Toms Bakery</title>
</head>
<body>
       <!-- Navbar ---->
    <ul id="dropdown1" class="dropdown-content custom-grey white-text">
        <li><a class="white-text" href="#!">Bread</a></li>
        <li><a class="white-text" href="#!">Cake</a></li>
        <li><a class="white-text" href="#!">Biscuit</a></li>
    </ul>
    <nav class="custom-grey" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
              <img class="responsive-img" src="" alt="">

          </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Recipe<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Recipe</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <!------>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row center logo-block">
            <img class= "logo" src="/static/images/company.png" alt="">
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light custom-grey">Get Started</a>
        </div>
      </div>
    </div>
  
    <!--   Icon Section   -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6 m4">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/cupcakes-22aa045.jpg?quality=90&webp=true&resize=440,400">
                      <span class="card-title">Cupcake</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-3"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                  </div>
                </div>
                <div class="col s6 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/cupcakes-22aa045.jpg?quality=90&webp=true&resize=440,400g">
                        <span class="card-title">Cupcake</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-3"><i class="material-icons">favorite</i></a>
                      </div>
                      <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                    </div>
                </div>
                <div class="col s6 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/cupcakes-22aa045.jpg?quality=90&webp=true&resize=440,400">
                        <span class="card-title">Cupcake</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-3"><i class="material-icons">favorite</i></a>
                      </div>
                      <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                    </div>
                </div>
            </div>
  
      
       
        </div>
    </div>
  
    <footer class="page-footer custom-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
  
  
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3">Thomas Riggs</a>
        </div>
      </div>
    </footer>
  
  

    
  
    
    <h1>Hello There!</h1>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
