{% extends "base.html" %}
{% block content %}
<div class="section">
    <div class="container">
      <div class="row center logo-block">
          <img class= "logo" src="/static/images/company.png" alt="Bakery Logo">
      </div>
      <div class="card-panel dotted-card-panel">
        <div class="row">
            <div class="col s12">
                <h5 class="center black-text">Upload and share your recipes online!</h5>
            </div>
        </div>
      </div>
      <br><br>
      <div class="row center">
        {% if session.user %}
        <a href="{{ url_for('profile', username=session['user']) }}" id="download-button" class="btn-large waves-effect waves-light custom-grey z-depth-5">Your Profile</a>
        {% else %}
        <a href="{{ url_for('register')}}" id="download-button" class="btn-large waves-effect waves-light custom-grey z-depth-5">Get Started</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br><br>
  <!--  Carousel Section   -->
  <h3 class= "center">Top Recipes</h3>
  <div class="container">
      <div class="section">
            <div class="carousel">
                <div class= "row">
                  {% for recipes in recipes %}
                  <div class="carousel-item">
                    <a href="{{ url_for('full_recipe', recipe_id=recipes._id) }}">
                      <div class="card">
                        <div class="card-image ">
                            <img src="{{recipes.recipe_image_url}}" alt="Recipe Image" onerror="this.src='/static/images/invalid-upload-alt-image.jpg';"> 
                          <span class="card-title trans-grey">{{recipes.recipe_name}}</span>
                        </div>
                        <div class="card-content recipe-card-info black-text">
                          <p>{{recipes.recipe_description}}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
      </div>
  </div>
  <br>
{% endblock %}

