{% extends "base.html" %}
{% block content %}
<br><br>
<h3 class="center-align">{{ username|capitalize }}'s Profile</h3>
<br>
<div class="row center">
    <a href="{{ url_for('add_recipe')}}" id="download-button" class="btn-large waves-effect waves-light custom-grey">Add Recipe</a>
</div>
<!-- users recipes -->
<div class="section">
    <div class="row">
      <h3 class="center-align">Your Recipes</h3>
      {% for recipes in recipes %}
      {% if session.user | lower == recipes.username | lower %}
      <div class="col s6 m4 l4 xl3">
        <a href="{{ url_for('full_recipe', recipe_id=recipes._id) }}">
            <div class="card">
            <div class="card-image">
                <a href="{{ url_for('full_recipe', recipe_id=recipes._id) }}">
                <img src="{{recipes.recipe_image_url}}" alt="Not Found" onerror="this.src='/static/images/invalid-upload-alt-image.jpeg';">
                <span class="card-title white-text trans-grey">{{recipes.recipe_name}}</span>
            </div>
            <div class="card-content black-text recipe-card-info">
                <p>{{recipes.recipe_description}}</p>
            </div>
            </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div> 
  </div>
{% endblock %}